*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target

# general stuff
.gradle/
/generated/
.metadata
*.project
*.classpath
map-api/.classpath
map-api/.project
*/.settings/
*/cnf/localrepo/index.*
*/**/*.log*
assembly/

map-service/.classpath
map-service/.project
!map-service/lib/*.jar