/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 
/***************************************************************************
 *                                                                         *
 * Colors			                                                       *
 *                                                                         *
 **************************************************************************/
 
.root {
	-fx-font-family: "Roboto";	
}
.button{
	-fx-font-family: "Roboto Medium";
	-fx-font-size: 14.0;
		-fx-padding: 0.7em 0.57em;
	-fx-font-size: 14.0px;
	-fx-button-type: RAISED;
	-fx-background-color: rgb(102.0,153.0,102.0);
	-fx-pref-width: 200.0;
	-fx-text-fill: WHITE;
}


.custom-jfx-button-raised  {
	-fx-padding: 0.7em 0.57em;
	-fx-font-size: 14.0px;
	-fx-button-type: RAISED;
	-fx-background-color: rgb(102.0,153.0,102.0);
	-fx-pref-width: 200.0;
	-fx-text-fill: WHITE;
}